<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="info"
      internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>

  <targets async="true">
    <target xsi:type="Mongo"
            name="mongo"
            connectionString="mongodb://localhost:27017"
            databaseName="paymentlogdb"
            collectionName="paylogcollection">
      <field name="message" layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="mongo" />
  </rules>
</nlog>
